// sidebar
$menuText:#ffffff;
$menuActiveText: #e0fff9;
$subMenuActiveText:#e0fff9; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #03a9f4;
$menuHover: rgba(226, 226, 226, 0.4);

$subMenuBg: #03a9f4;
$subMenuHover: rgba(226, 226, 226, 0.4);

$sideBarWidth: 220px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
